<!-- templates/detalle_juego.html -->
{% extends "base.html" %} 

{% block content %}
    <div class="info_juego">
        <h2>
            {{ object.nombre_juego }} 
            <a href="{% url 'editar_juego' juego.pk %}" class="btn-action"  ><button> Editar Juego </button></a>
            <a href="{% url 'eliminar_juego' juego.pk %}" class="btn-danger"><button> Eliminar Juego </button></a>
        </h2>
        <p>Creado por: {{ object.autor }}</p>
        <img class="game-detail-img" src="/media/{{ object.imagen }}" alt="no se puede ver la imagen">
    </div>
    <br><br>
    <div class="apartado_resenas">
        <div class="nueva_resenas form-container">
            <h3>Escribir Reseña</h3>
            {% if user.is_authenticated %}
                <form action="" method="post">{% csrf_token %}
                    {{ form.as_p }} <br>
                    <input type="submit" value="Publicar Reseña">
                </form>
            {% else %}
                <p>Por favor, inicia sesión para escribir una reseña.</p>
            {% endif %}
        </div><br>
        <div class="reviews-list">
            {% for resena in object.resenas.all %} 
                <div class="review-card">
                    <h3 class="autor_resena">Autor: {{ resena.autor }}</h3>
                    <h3 class="puntuacion_resena">Puntuación: {{resena.puntuacion}}</h3>
                    <p class="texto_resena">{{ resena.cuerpo }}</p>
                    <div class="eliminar_resena">
                        <a href="{% url 'editar_resena' resena.pk %}"><button>Editar Reseña</button></a>
                        <a href="{% url 'eliminar_resena' resena.pk %}"><button>Eliminar Reseña</button></a>
                    </div>
                </div>
                <br>
            {% empty %}
                &nbsp;&nbsp;&nbsp;<h2>No hay reseñas en este juego</h2>
            {% endfor %}
        </div>
    </div>
{% endblock content %}