<!-- templates/eliminar_juego.html -->
{% extends "base.html" %}

{% block content %}
    <div class="form-container">
        <div class="review-edit">
            <h3 class="autor_resena autor_y_puntuacion">Autor: <span class="autor_colorido">{{ resena.autor }}</span></h3>
            <h3 class="puntuacion_resena autor_y_puntuacion" style="color: white;">Puntuación: <span class="autor_colorido">{{resena.puntuacion}}</span></h3>
            <p class="texto_resena">{{ resena.cuerpo }}</p>
        </div>
        <form action="" method="post" enctype="multipart/form-data">{% csrf_token %}
            {{ form.as_p }} <br>
            <input type="submit" value="Guardar Cambios">
        </form>
        <a href="{% url 'detalle_juego' resena.juego.pk %}"><button> Volver a Detalles </button></a>
    </div>
{% endblock content %}