<!-- templates/eliminar_juego.html -->
{% extends "base.html" %}

{% block content %}
    <h1>¿Seguro que quieres eliminar <span class="importante1">{{ object.nombre_juego }}</span>?</h1>
    <br>
    <img class="preview-img preview-img--danger" src="/media/{{ object.imagen }}" alt="(imagen del juego no disponible)">

    <form action="" method="post">{% csrf_token %}
        {{ form.as_p }}
        <div class="form-actions">
            <input type="submit" value="Sí, borrar definitivamente" class="btn-submit-danger">
            <a href="{% url 'detalle_juego' object.pk %}"><button type="button" class="btn-cancel">Cancelar</button></a>
        </div>
    </form>
{% endblock content %}
