{% extends "base.html" %}
{% block content %}
    <div class="buscador">
        <form action="" method="get">
            <input type="text" name="buscar">
            <input type="submit" value="Buscar">
        </form>
    </div>
    <div class="games-grid">
        {% for juego in juegos %} 
                <div class="game-card">
                    <a href="{% url 'detalle_juego' juego.pk %}">
                        <img src="../media/{{ juego.imagen }}" alt="no se puede ver la imagen"></p>
                        <div class="game-card-content">
                            <h2>{{ juego.nombre_juego }}</h2>
                            <p>Creado por: <span class="autor_colorido">{{ juego.autor }}</span></p>
                        </div>
                    </a>
                </div> 
        {% empty %}
            <h2>No hay juegos registrados</h2>
        {% endfor %}
    </div>
{% endblock content %}