<!-- nuevo_juego.html -->
{% extends "base.html" %}
{% block content %}
    <div class="form-container tw-bg-[#151b2b] tw-p-8 tw-rounded-lg tw-mx-auto tw-shadow-2xl">
        <h1 class="tw-mb-6 tw-text-[#00d2ff] tw-text-center">Añadir Nuevo Juego</h1>
        <form action="" method="post" enctype="multipart/form-data">{% csrf_token %}
            {{ form.as_p }} <br>
            <input type="submit" value="Guardar"
                   class="tw-px-5 tw-py-2.5 tw-border-0 tw-rounded-lg tw-font-bold tw-cursor-pointer tw-bg-[#00d2ff] tw-text-black">
        </form>
    </div>
{% endblock content %}
