# Ignorar el entorno virtual
.venv/

# Ignorar la base de datos local (se crea sola)
db.sqlite3

# Ignorar archivos compilados de Python 
__pycache__/
*.pyc

# Carpeta donde se guardan las imagenes
media/
